<div class="d-sm-flex flex-column">
  <mat-form-field color="accent">
    <mat-label>Name</mat-label> <input matInput />
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Surname</mat-label> <input matInput />
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>E-Mail</mat-label> <input matInput type="email" />
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Birth Date</mat-label> <input matInput type="date" />
  </mat-form-field>
  
  <div class ='d-sm-flex'>
    <div >
      <button
        mat-mini-fab
        color="primary"
        aria-label="Add"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <button mat-raised-button color="warn">Cancel</button>
  </div>
</div>
