<form [formGroup]="addReservationForm" (ngSubmit)="addReservation()">
  <div class="d-sm-flex flex-column">
    <mat-form-field appearance="fill">
      <mat-label>Enter enter occupation dates</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="dateFrom" placeholder="Start" />
        <input matEndDate formControlName="dateTo" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error>Date Range is mandatory</mat-error>
    </mat-form-field>
    <!-- 
    <mat-form-field appearance="fill">
     
    
       
     
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        (focus)="picker.open()"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error
        *ngIf="
          addReservationForm.controls['dateFrom'].hasError(
            'matStartDateInvalid'
          )
        "
        >Invalid start date</mat-error
      >
      <mat-error
        *ngIf="
          addReservationForm.controls['dateTo'].hasError('matEndDateInvalid')
        "
        >Invalid end date</mat-error
      >
    </mat-form-field> -->

    <mat-form-field color="accent">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      [disabled]="!this.addReservationForm.valid"
    >
      Basic
    </button>
  </div>
</form>
