<form [formGroup]="addReservationForm" (ngSubmit)="addReservation()">
  <div class="d-sm-flex flex-column">
    <mat-form-field>
      <mat-label>From date</mat-label>
      <input matInput type="date" formControlName="dateFrom" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>To date</mat-label>
      <input matInput type="date" formControlName="dateTo" />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!this.addReservationForm.valid">Basic</button>
  </div>
</form>
