<div class="home-container">
  <mat-drawer-container class="example-container" autosize>
    <div>
      <h1 class="main-title">Hotel de la fancy</h1>
      <div
        class="d-sm-flex flex-column justify-content-center col"
        style="text-align: center"
      >
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="loadReservations()"
          >
            Prenotazioni (temporaneo)
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="drawerAddReservation.toggle()"
          >
            Aggiungi prenotazione
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary">Check-out camera</button>
        </div>
      </div>
    </div>

    <mat-drawer #drawerAddReservation mode="side" class="left-panel">
      <h2>Add reservation</h2>
      <app-add-reservation></app-add-reservation>
     
    </mat-drawer>
  </mat-drawer-container>
</div>
