<div class="home-container">
  <mat-drawer-container class="home-container" autosize [hasBackdrop]="true">
    <div style="text-align: center">
      <h1 class="main-title">Hotel de la fancy</h1>
      <h3 *ngIf="!this.selectedReservation; else reservationInfo">
        Select a reservation!
      </h3>
      <ng-template #reservationInfo>
        <h3>
          Selected Reservation:
          {{
            selectedReservation?.id +
              " | " +
              (selectedReservation !== null && selectedReservation.room !== null
                ? "room assigned " + selectedReservation?.room?.number
                : "room NOT assigned")
          }}
        </h3>
      </ng-template>

      <div class="d-sm-flex flex-column justify-content-center col">
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="loadReservations()"
          >
            Prenotazioni (temporaneo)
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="drawerAddReservation.toggle()"
          >
            Aggiungi prenotazione
          </button>
        </div>
        <div *ngIf="!!selectedReservation; else selectReservation">
          <div *ngIf="!selectedReservation.checkedIn; else showCheckOut">
            <button
              mat-raised-button
              color="primary"
              (click)="openDialogCheckInCamera()"
            >
              Check In Camera
            </button>
          </div>

          <ng-template #showCheckOut>
            <div>
              <button
                mat-raised-button
                color="primary"
                (click)="openDialogCheckOutCamera()"
              >
                Check-out camera
              </button>
            </div>
          </ng-template>
        </div>
        <ng-template #selectReservation>
          <div>
            <button
              mat-raised-button
              color="primary"
              (click)="openDialogSelectReservation()"
            >
              Select Reservation
            </button>
          </div>
        </ng-template>
      </div>
    </div>

    <mat-drawer
      #drawerAddReservation
      mode="side"
      class="left-panel"
      mode="push"
    >
      <h2>Add reservation</h2>
      <app-add-reservation></app-add-reservation>
    </mat-drawer>
  </mat-drawer-container>
</div>
